dom-module#subtle-input

	template
		link(rel='stylesheet' type="text/css" href='style.css')
		input( required="" type="{{type}}" ontouchstart="" on-change="_inputChange" value="{{value}}" )
		.bg
		label {{label}}

	script(src='script.js')