:host {
	font-family : gesta, sans-serif;

	position : relative;

	display : inline-block;

	height : 30px;
	margin : 0 10px;

	-webkit-user-select : none;
	        user-select : none;
	letter-spacing : 0.1em;

	border : 1px solid var(--primary-color);

	--primary-color : black;
	--secondary-color : white;
	#front ,
	#back {
		position : absolute;
		top : 0;
		left : 0;

		width : 100%;
		height : 100%;
		.possible {
			line-height : 32px;

			float : left;

			width : 200px;
			height : 100%;

			cursor : pointer;
			text-align : center;
		}
	}
	#front {
		color : var(--secondary-color);
		background-color : var(--primary-color);
	}
	#back {
		color : var(--primary-color);
		background-color : var(--secondary-color);
	}
	#lens {
		position : absolute;
		top : 0;
		left : 0;

		overflow : hidden;

		width : 200px;
		height : 100%;

		transform : translateZ(0);
		#front {
			width : 400%;
		}
	}
	#lens ,
	#front {
		transition : 0.2s ease-in-out all;
		transform : translateZ(0) translateX(0);
	}
}
