dom-module#subtle-textarea

	template
		link(rel='stylesheet' type="text/css" href='style.css')
		textarea(required="" ontouchstart="" value="{{value}}")
		.bg
		label {{label}}

	script(src='script.js')