:host {
	font-family : gesta , sans-serif;
	font-size : 20px;
	line-height : 50px;

	position : relative;

	display : inline-block;

	box-sizing : border-box;
	padding : 0 25px;

	cursor : pointer;
	user-select : none;
	-webkit-transition : 0.2s ease all;
	        transition : 0.2s ease all;
	letter-spacing : 0.1em;
	text-transform : uppercase;

	color : --primary-color;

	--primary-color : black;
	--secondary-color : white;
	--error-color : #ac0000;
	.border {
		position : absolute;
		top : 0;
		left : 0;

		width : calc( 100% - 2px);
		height : calc( 100% - 2px);

		-webkit-transition : 0.2s ease all;
		        transition : 0.2s ease all;
		-webkit-transform : scale3d(0, 0, 0);
		        transform : scale3d(0, 0, 0);

		opacity : 0;
		border : 1px solid --primary-color;
	}
	&.error {
		cursor : default;

		color : --error-color;
		.border {
			opacity : 0 !important;
		}
	}
	&.inactive {
		cursor : default;

		opacity : 0.5;
		.border {
			opacity : 0 !important;
		}
	}
	&:hover .border {
		-webkit-transform : scale3d(1, 1, 1);
		        transform : scale3d(1, 1, 1);

		opacity : 1;
	}
	&:active {
		color : --secondary-color;
		background-color : --primary-color;
		.border {
			-webkit-transform : scale3d(1, 1, 1);
			        transform : scale3d(1, 1, 1);
		}
	}
}
